@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

.container {
    position: fixed;
    padding: 25px;
}

.form-login {
    background-color: #EDEDED;
    border-radius: 15px;
    box-shadow: 0 1px 0 #cfcfcf;
    border-color: #d2d2d2;
    border-width: 5px;
    padding: 10px 20px 20px;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.form-login > input {
    margin-bottom: 10px;
}